<div class="row">
        {{#each notes}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between aling-items-center">
                        {{title}} <a href="/notes/edit/{{_id}}" ><li class="fas fa-edit"></li></a>
                    </h4>
                    <p>
                        {{description}}
                    </p>
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_mehod" value="DELETE">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">
                            Borrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {{else}}
            <div class="card mx-auto">
                <div class="card-body">
                    <p class="lead">No existen notas</p>
                    <a href="/notes/add" class="btn btn-success btn-block">Crear Notas</a>
                </div>
            </div>
        {{/each}}
</div>